/* src/components/Header/Header.css */

.header {
    /* TODO 1 */
    position: relative;
    height: 100vh;

    /* TODO 2 */
    overflow: hidden;
}

.header__video {
    /* TODO 3 */
    position: absolute;
    top: 0;
    left: 0;

    /* TODO 4 */
    width: 100%;
    height: 100%;

    /* TODO 5 */
    object-fit: cover;

    /* TODO 6 */
    z-index: 1;
}

.header__overlay {
    /* TODO 7 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* TODO 8 */
    background: rgba(0, 0, 0, 0.5);

    /* TODO 9 */
    z-index: 2;
}

.header__content {
    /* TODO 10 */
    position: relative;
    z-index: 3;

    /* TODO 11 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* TODO 12 */
    flex-direction: column;
    height: 100%;

    /* TODO 13 */
    text-align: center;
}

.header__content h1 {
    /* TODO 14 */
    color: var(--gold-primary);

    /* TODO 15 */
    font-size: var(--font-size-3xl, 3rem);
}

.header__content p {
    /* TODO 16 */
    color: var(--white-muted);

    /* TODO 17 */
    font-size: 1.2rem;
}
